html {
  font-size: 10px;
}

/*
It is often useful to set box-sizing to border-box to layout 
elements. This makes dealing with the sizes of elements much 
easier, and generally eliminates a number of pitfalls you 
can stumble on while laying out your content. 
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 244, 244);
  color: #333;
}

small {
  font-size: 1.5rem;
}



p {
  font-size: 1.4rem;
}

h2 {
  font-size: 2.4rem;
}

h1 {
  font-size: 2.8rem;
}

li {
  padding: .5rem;
}

audio {
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 1.2rem;
  transform: scale(.80);
  background-color: #ddd;
}

.container {
  margin: 2% auto;
  max-width: 90%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  padding: 2rem 2rem;
  border-radius: 2rem; 
}

.navcontainer {
  display: flex;
  align-content: center;
  margin-left: 20rem;
}

.audiocontainer{
  display: block;
  /*border: 1px solid rgba(0, 0, 0, 0.75);*/
}

.audioplayer{
  /*border: 1px solid rgba(0, 0, 0, 0.75);*/
  padding: 2rem 2rem;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  border-radius: 2rem;
  margin: 2rem 2rem;
}

/* The sidebar menu - For mobile some overrides done in media query*/
.sidenav {
  height: auto; /* Full-height: remove this if you want "auto" height */
  z-index: 1; /* Stay on top */
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 2rem 2rem;
  border-radius: 2rem;
  margin: 2% 2%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #070606;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.20);

}

/* Style page content */
.main {
  padding: 2rem 2rem; 
}

.debug {
  font-size: 1rem;
  text-align: right;
  align-items: center;
}


/* Using flex display to place items in center */
.loading {
  display: flex;
  justify-content: center;
  margin: 5% 5%;
  /*border: 1px solid rgba(0, 0, 0, 0.75);*/
}

.title {
  font-size: 4.4rem;
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.1);
  border-radius: 2rem;
  padding: 2% 2%;
  max-width: 60%;
  margin-left: 20rem;
}

.artistcontainer {
  font-size: 1.2rem;
  text-align: left;
  margin: auto 2rem;
  /*box-shadow: 5px 5px 20px rgba(0,0, 0, 0.1);*/
  border-radius: 2rem;
  padding: 2% 2%;
  display: flex;
}

.boxshadow {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  border-radius: 2rem;
  padding: 4% 4%;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  /*line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;*/
  margin-bottom: 1rem;
}

.audioplayer--title {
  display: flex;
  align-items: center;
}

.button {
  /*background-color: rgba(0, 0, 0, 0.75);
  color: white;*/
  padding: .8rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  /*font-size: 2.4rem;*/
  cursor: pointer;
  transition: background-color 250ms;
  margin: 1rem 1rem;
}

.margin {
  margin-top: 9rem;
}

.button:hover {
  background-color: rgba(219, 201, 201, 0.85);
}


.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  background-color: white;
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
}

.card--image {
  margin: 0 auto;
  display: block
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Keep Overrides at bottom - CSS is applied in a last-match-wins format, 
   that is to say that the style for the last declared selector that matches 
   will be applied
*/

/* On smaller screens, change the style (less padding and a smaller font size) */
@media only screen and (max-width: 768px) {
  html {
    font-size: 7px;
  }

  .container {
    padding: .5rem;
    box-shadow: none;
  }

  .title {
    margin-left: 10rem;
    font-size: 3rem;
  }

  .navcontainer {
    margin-left: 2rem;
    display: block;
  }

  .artistcontainer {
    display: inline;
  }

  audio {
    transform: scale(.65 );
  }

} /* For mobile phones: */